/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
* {
	true: #3b8ab5;
	primaryColor: #2596be;
	offColorGrey: #e7f0f5;
	darkPrimaryColor: #2a6c8c;
	blueGreyAccent: #87afc9;
	darkBlueGrayAccent: #6291ae;
	lightBlue:#98d2f4;
	midBlue: #61a4c6;
	darkBlue: #24739c;
	midLightBlue: #64acd4;
	
	}

.root {
	-fx-background-color: #415e7c;
}	
	
.button {
    -fx-text-fill: #e7f0f5;
    -fx-padding: 5;
    -fx-background-color: #2a6c8c;
    -fx-effect: dropshadow(one-pass-box, black, 14, 0.0 , 6, 0);
    -fx-background-radius: 8;
    -fx-cursor: hand; 
    -fx-font-style: oblique;
}

.label{
	-fx-background-color: #24739c;
	
}
.titled-pane{
	    -fx-background-radius: 500;
}
.titled-pane > .title {  
    -fx-background-color: #87afc9;
    -fx-background-insets: 0; 
   	-fx-background-radius: 2;
}


