
* {
	true: #3b8ab5;
	primaryColor: #2596be;
	offColorGrey: #e7f0f5;
	darkPrimaryColor: #2a6c8c;
	blueGreyAccent: #87afc9;
	darkBlueGrayAccent: #6291ae;
	lightBlue:#98d2f4;
	midBlue: #61a4c6;
	darkBlue: #24739c;
	midLightBlue: #64acd4;
	
	}
	
.root {
	-fx-background-color: #2596be;
}	
	
.button {
    -fx-text-fill: #e7f0f5;
    -fx-padding: 5;
    -fx-background-color: #2a6c8c;
    -fx-effect: dropshadow(one-pass-box, black, 14, 0.0 , 6, 0);
    -fx-background-radius: 8;
    -fx-cursor: hand; 
}

.titled-pane > .title {  
    -fx-background-color:  #3b8ab5;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #98d2f4, #6291ae);

}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #52b9dd;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #59bfe4;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.scroll-bar:vertical,
.scroll-bar:vertical.track,
.scroll-bar:vertical.track-background,
.scroll-bar:horizontal,
.scroll-bar:horizontal.track,
.scroll-bar:horizontal.track-background {
    -fx-background-color: transparent;
}

.scroll-bar.increment-button,
.scroll-bar.decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.scroll-bar:vertical.thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.scroll-bar:horizontal.thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}



